.upload-field {
    padding: 1rem;
}

.upload-field .image-preview {
    display: flex;
    gap: 1rem;
    width: 320px;
    padding: 1rem;
    border: 1px dashed #6b6666;
    overflow-x: auto;
}

.upload-field .image-preview .image-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.upload-field .image-preview .image-zone img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[name="gambar"] {
    display: none;
}

.tanda {
    padding: 1rem;
    border: 1px dashed #6a6666;
    width: 320px;
    cursor: pointer;
}