.header-nav-bar {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 0.8rem;
    top: 80%;
    box-shadow: 0 0 6px rgba(0,0,0,0.323);
}

.header-nav-bar nav {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.header-nav-bar nav a {
    text-decoration: none;
    font-size: 1.5rem;
}

.dark-mode input[type="checkbox"] {
    display: none;
}

.dark-mode label {
    font-size: 1.55rem;
    cursor: pointer;
    color: rgb(41, 41, 146);
}

[dark="yes"] .header-nav-bar {
    box-shadow: 0 0 6px rgba(76, 183, 240, 0.966);
    background-color: black;
}

[dark="yes"] .header-nav-bar nav a {
    color: rgba(76, 183, 240, 0.966);
}

[dark="yes"] .dark-mode label {
    color: rgba(76, 183, 240, 0.966);
}