.commentSection form {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 100;
}

.commentSection form button {
    background-color: rgb(18, 18, 70);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 90px;
}

.commentSection form button > i {
    color: #ffff;
    font-size: 1rem;
}

[dark="yes"] .commentSection form input {
    background-color: black;
    border: 1px solid rgba(76, 183, 240, 0.966);
    color: rgba(76, 183, 240, 0.966);
}

[dark="yes"] .commentSection form button i {
    color: black;
}

[dark="yes"] .commentSection form button {
    background-color: rgba(76, 183, 240, 0.966);
}