.home header {
    padding: 0.6rem;
    box-shadow: 0 0 6px rgba(0,0,0,0.323);
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
}

.home header form {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    flex-wrap: wrap;
}

.home header form input[type="search"] {
    width: 228px;
    height: 35px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    font-family: Caladea, serif;
    font-size: 1rem;
    background-color: white;
}

.home header form input[type="search"]:focus {
    outline: none;
    border-color: #a07171;
}

.home header form button {
    cursor: pointer;
    background-color: rgb(72, 102, 72);
    color: #ffff;
    width: 90px;
    border-radius: 8px;
    padding: 0.6rem;
    border: none;
}

.home .display-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.4rem;
    min-height: 100dvh;
    padding: 0.8rem;
}

[dark="yes"] .home {
    background-color: black;
}

[dark="yes"] .home header {
    background-color: black;
    box-shadow: 0 0 6px rgba(76, 183, 240, 0.966);
    color: rgba(76, 183, 240, 0.966);
}

[dark="yes"] .home header form input[type="search"] {
    background-color: black;
    color: rgba(76, 183, 240, 0.966);
    border: 1px solid rgba(76, 183, 240, 0.966);
}

[dark="yes"] .home header form input[type="search"]::placeholder {
    color: rgba(76, 183, 240, 0.966);
}

[dark="yes"] .home header form button {
    background-color: rgba(76, 183, 240, 0.966);
    color: #0e0101;
}